<h3>マイページ編集</h3>
<table>
  <%= form_with model: @customer do |f| %>
  <tr>
    <td>氏名</td>
    <td><%= text_field :last_name %><%= text_field :first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= text_field :last_name_kana %><%= text_field :first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= text_field :postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= text_field :address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= text_field :telephone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= text_field :email %></td>
  </tr>
</table>
<%= f.submit '編集する' %>
<% end %>