<div class="container">
<h3>商品編集</h3>
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
<table class="table">
<tr>
    <td>商品名</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>商品説明</td>
    <td><%= f.text_area :introduction %></td>
  </tr>
  <tr>
    <td>税抜価格</td>
    <td><%= f.text_field :price %></td>
  </tr>
</table>
<%= f.submit '編集完了', class:"btn btn-secondary" %>
<% end %>
</div>