<div class="container">
<h3>商品新規登録</h3>
<%= form_with model: @item, url: admin_items_path do |f| %>
<div>商品名：<%= f.text_field :name %></div>
<div>商品説明：<%= f.text_area :introduction %></div>
<div>税抜価格：<%= f.text_field :price %></div>
<div>ジャンル：<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %></div>
<%= f.submit '新規登録', class:"btn btn-secondary" %>
<% end %>
</div>