<div class="container">
<h3>商品詳細</h3>
<div>商品名：<%= @item.name %></div>
<div>商品説明：<%= @item.introduction %></div>
<div>税込価格(税抜価格)：<%= @item.with_tax_price %>(<%= @item.price %>)</div>
<div>ジャンル：<%= @genre.genre_name %></div>
<%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-secondary" %>
</div>