<div class="container">
<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
<table class="table">
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %></td>
  </tr>
  <tr>
    <td>パスワード</td>
    <td><%= f.password_field :password, autocomplete: "パスワード" %></td>
  </tr>
</table>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      次回以降省略
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-secondary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>
