<h3>注文情報入力</h3>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
<h4>支払い方法</h4>
<div><%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %></div>

<div><%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method_transfer, "銀行振込" %></div>

<h4>お届け先</h4>
<%= f.hidden_field :receiver_name, :value => @order.receiver_name %>
<%= f.hidden_field :receiver_postal_code, :value => @order.receiver_postal_code %>
<%= f.hidden_field :receiver_address, :value => @order.receiver_address %>
<div>〒<%= @order.receiver_postal_code %><%= @order.receiver_address %><br>
<%= @order.receiver_name %></div>

<div><%= f.submit "確認画面へ進む" %></div>
<% end %>