<h3>注文情報入力</h3>
<%= form_with model: @order, ulr: orders_confirm_path, method: :post do |f| %>
<h4>支払い方法</h4>
<div><%= f.radio_button :payment_method, "credit_card" %>
<%= f.label :payment_method_credit_card, "クレジットカード" %></div>

<div><%= f.radio_button :payment_method, "transfer" %>
<%= f.label :payment_method_transfer, "銀行振込" %></div>

<h4>お届け先</h4>
<div>〒<%= @customer.postal_code %><%= @customer.address %><br>
<%= @customer.last_name %><%= @customer.first_name %></div>

<div><%= f.submit "確認画面へ進む" %></div>
<% end %>