<div class="container">
<h2>ログイン</h2>
<h4>会員の方はこちらからログイン</h4>
<%= form_with model: @customer, url: new_customer_session_path do |f| %>
<table class="table">
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>
  <tr>
    <td>パスワード</td>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>
</table>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      次回以降省略
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-secondary" %>
  </div>
<% end %>
<div>会員登録がお済みでない方</div>
こちらから<%= render "public/shared/links" %>を行ってください。
</div>
