<h3><%= @item.name %></h3>
<div><%= @item.introduction %></div>
<div>￥<%= @item.price %>(税込み)</div>

<div>数量を選択して下さい。</div>
<%= f.hidden_field "cart_item" => {"item_id", "amount"} %>
<%= f.select :amount, *[1..10] %>
<%= f.submit 'カートに入れる' %>